// HIDDEN CONTENT ROOT
.hidden-content--root {
    min-height: 500px;
    color: var(--mainPurple);
    width: 100%;
    padding: 20px;
    background-color: var(--mainWhite);
}
//END

.card-main-heading--root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main-heading--root .icon {
    margin-right: 20px;
}

.card-main-heading--root p {
    margin: 0;
}


// BOTTOM-ACTION-BTNS--ROOT
.bottom-action-btns--root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// END