::-webkit-scrollbar {
    overflow: hidden !important;
    -webkit-appearance: none;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent; // prior: rgba(0, 0, 0, 0.1)
    -webkit-box-shadow: transparent;
}

@media only screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        overflow: visible !important;
        -webkit-appearance: none;
        width: 9px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #00e5ff; // cyan
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}