.ellipse {
    position: relative;
    top: -5px;
    left: -50px;
    height: 7em;
    width: 23em;
    z-index: -1;

    border-radius: 50%;
    background-color: #e84393;
    border: 3px solid white;
    box-shadow: inset 0 0 0.4em #000;
}

.all-scores--ellipse {
    position: relative;
    top: -20px;
    left: 190px;
    width: 150px;

    & .body {
        height: 3em;
        width: 7.4em;
        z-index: -1;

        border-radius: 50%;
        background-color: #fff;
        border: 3px solid white;
        box-shadow: inset 0 0 0.15em #000;
    }
}
