.perc-linear-progress--root {
    .MuiLinearProgress-root {
        height: 10px;
        border-radius: 5px;

        .MuiLinearProgress-bar {
            background-color: var(--themeP);
            border-radius: 5px;
        }
    }

    .MuiLinearProgress-colorPrimary {
        background-color: #dac0f8;
    }
}