.clients-reviews--root {
    .grade-1 {
        color: rgba(255, 17, 0, 1);
    }
    .grade-1-back {
        background-color: rgba(255, 17, 0, 1);
    }

    .grade-2 {
        color: rgba(255, 17, 0, 0.9);
    }
    .grade-2-back {
        background-color: rgba(255, 17, 0, 0.9);
    }

    .grade-3 {
        color: rgba(255, 17, 0, 0.8);
    }
    .grade-3-back {
        background-color: rgba(255, 17, 0, 0.8);
    }

    .grade-4 {
        color: rgba(255, 17, 0, 0.8);
    }
    .grade-4-back {
        background-color: rgba(255, 17, 0, 0.8);
    }

    .grade-5 {
        color: rgba(255, 152, 0, 0.9);
    }
    .grade-5-back {
        background-color: rgba(255, 152, 0, 0.9);
    }

    .grade-6 {
        color: rgba(255, 152, 0, 1);
    }
    .grade-6-back {
        background-color: rgba(255, 152, 0, 1);
    }

    .grade-7 {
        color: #009688;
    }
    .grade-7-back {
        background-color: #009688;
    }

    .grade-8 {
        color: #009688;
    }
    .grade-8-back {
        background-color: #009688;
    }

    .grade-9,
    .grade-10 {
        color: rgba(76, 175, 80, 1);
    }
    .grade-9-back,
    .grade-10-back {
        background-color: rgba(76, 175, 80, 1);
    }
}
