.carousel--root {
  background: var(--mainWhite);
  max-width: 400px;
  height: 200px;
}



.carousel-cell {
  box-shadow: 0 31px 120px -6px rgba(0, 0, 0, 0.35);
  width: 50% !important;
  height: 180px;
  margin: 10px;
  background: var(--mainWhite);
  color: var(--mainPurple);
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 15px;
}

.card-icons {
    font-size: 60px;
}

.flickity-button {
    background-color: var(--themeSDark);
}
.flickity-button:hover {
    background-color: var(--themeSDark);
}

.flickity-prev-next-button {
    width: 34px;
}

.flickity-prev-next-button .arrow {
  fill: var(--mainWhite);
}
.flickity-prev-next-button.no-svg {
  fill: var(--themeS);
}

.is-selected {
  background-color: var(--lightPurple) !important; /* var(--lightPurple) */
  color: var(--mainWhite) !important;
}

/* cell number */
/*
.carousel-cell:before {
  display: block;
  text-align: center;
  // content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
*/
