.add-to-home-banner {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(to right, #12005e, #1f1c18);
    cursor: pointer;
    text-align: left;
    -webkit-user-select: none;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-to-home-content {
    display: flex;
    align-items: center;
}

.add-to-home-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
}

.add-to-home-close-btn {
    display: inline-block;
    position: relative;
    padding: 0 2px;
    right: 4px;
    float: right;
    font-size: 32px;
}
