// LIST
.prize-list--root {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-bottom: 200px;

    h2 {
        line-height: 24px;
    }
}
// END LIST

// TROPHY
.trophy--root {
    position: relative;
    margin: 5px;
    width: 150px;
    margin-bottom: 30px;

    & .prize-desc {
        padding-top: 5px;
        line-height: 25px;
    }
}

.trophy-design {
    position: relative;

    & .custom-icon {
        position: absolute;
        font-size: 40px;
        z-index: 1000;
        top: -5%;
        transform: translateX(-50%);
        color: white;
        left: 50%;
    }
}

.prize-status-icons {
    position: absolute;
    bottom: 5%;
    transform: translateX(50%);
    display: flex;
    padding: 0px;
    z-index: 1000;

    & .confirmed,.delivered {
        margin: 2px;
    }

    & .status-icon {
        position: absolute;
        filter: drop-shadow(.001em .1em .1em var(--mainDark));
        font-size: 15px;
        top: -2px;
        transform: translateX(40%);
        z-index: 1500;
    }

    & .status-icon .ok-icon {
        color: white;
    }

    & .status-icon .pending-icon {
        color: #c0392b;
        opacity: .5;
    }

    & .status-icon .pending-icon.expired {
        color: #fff;
        opacity: 1;
    }

    & .icon {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 8px;
        border-radius: 50%;
    }
    // LESSON: if using as combination,then no spacing shouldbe placed.
    & .icon.ok {
        color: white;
        background-color: #20bf6b;
    }

    & .icon.pending {
        color: #95a5a6;
        background-color: var(--mainWhite);
    }

    & .icon.pending.expired {
        color: var(--mainWhite);
        background-color: var(--expenseRed);
    }

    & .icon svg.shadow {
        filter: drop-shadow(.001em .1em .1em var(--mainDark));
    }

}

// END TROPHY