.biz-team-navbar--root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--themeS);
    display: block;
    position: relative;
    min-height: 60px;
    background-color: var(--themePDark);
}
