[secondary-theme="cyan"] {
    /*cyan (greenish-blue) a400*/
    --themeS: #00e5ff;
    --themeSLight: #6effff;
    --themeSDark: #00b2cc;
}

/*Secondary colors are best to accent select parts of your UI.:
Floating action buttons
Selection controls, like sliders and switches
Highlighting selected text
Progress bars
Links and headlines

To see interfaces:
https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=4a148c&secondary.color=18FFFF*/