// CartRace
.cart-race--root {
    position: relative;
    margin-bottom: 15px;
}

.cart-race--root .cart {
    position: relative;
    top: -65px;
    left: 2px;
    z-index: 3;
}

.move-down {
    animation: moveDown 1s ease-out 2s 1 normal forwards;
    transition: transform 1s;
}

.move-down-left {
    animation: moveDownLeft 3s ease-out 2s 1 normal forwards;
    transition: transform 1s;
}

.move-down-left-two {
    animation: moveDownLeftTwo 3s ease-out 2s 1 normal forwards;
    transition: transform 1s;
}

.move-down-left-three {
    animation: moveDownLeftThree 3s ease-out 2s 1 normal forwards;
    transition: transform 1s;
}

.move-down-left-final {
    animation: moveDownLeftFinal 3s ease-out 2s 1 normal forwards;
    transition: transform 1s;
}

.move-flag-top {
    animation: moveFlagTop 1s ease-out 2s 1 normal forwards;
    transition: transform 1s;
}

@keyframes moveFlagTop {
    0% { transform: translateY(0); }
    20% { transform: translate(-40px, -30px) rotateY(180deg); }
    60% { transform: translate(-40px, -30px) rotateY(0deg); }
    80% { transform: translate(-40px, -30px) rotateY(180deg); }
    90% { transform: translate(-40px, -30px) rotateY(0deg); }
    100% { transform: translate(-40px, -30px) rotateY(180deg); }
}


// @-webkit-keyframes moveDown  {
//     0% { top: -65px; }
//     100% { transform: translateY(5px); }
//
@keyframes moveDown {
    0% { transform: translateY(0); }
    100% { transform: translate(0, 70px); }
}

@keyframes moveDownLeft {
    0% { transform: translateY(0); }
    50% { transform: translate(0, 70px); }
    100% { transform: translate(80px, 70px); }
}

@keyframes moveDownLeftTwo {
    0% { transform: translateY(0); }
    25% { transform: translate(0, 70px); }
    50% { transform: translate(80px, 70px); }
    100% { transform: translate(160px, 70px); }
}

@keyframes moveDownLeftThree {
    0% { transform: translateY(0); }
    25% { transform: translate(0, 70px); }
    50% { transform: translate(80px, 70px); }
    75% { transform: translate(160px, 70px); }
    100% { transform: translate(225px, 70px); }
}

@keyframes moveDownLeftFinal {
    0% { transform: translateY(0); }
    20% { transform: translate(0, 70px); }
    40% { transform: translate(80px, 70px); }
    60% { transform: translate(160px, 70px); }
    80% { transform: translate(225px, 70px); }
    100% { transform: translate(290px, 70px); }
}

.cart-race--root .line {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 88%;
    height: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cart-race--root .line .vertical-line {
    position: absolute;
    top: -55px;
    left: 10px;
    width: 10px;
    height: 70px;
    display: flex;
    justify-content: start;
    z-index: 1;
}

.cart-race--root .line .vertical-line p {
    position: absolute;
    transform: rotate(90deg);
    top: -15px;
    left: -2px;
    height: 30px;
    width: 15px;
    background-color: var(--themeP);
    border-radius: 50% 50%;
}


.cart-race--root .line > p {
    position: relative;
    top: -7px;
    height: 25px;
    width: 25px;
    background-color: var(--themeP);
    border-radius: 50%;
    z-index: 2;
}

.paint-dot {
    animation: paintDot 3s ease-out 1 normal forwards;
    transition: all 1s;
}

@keyframes paintDot {
    0% { background-color: var(--themeP);  }
    100% { background-color: var(--themeS); height: 30px; width: 30px; filter: drop-shadow(.001em .001em .15em var(--mainDark))}
}

.cart-race--root .flag {
    z-index: 3;
    position: absolute;
    transform: rotate(20deg);
    top: -10px;
    right: 5px;
}

//