/*COLOR PICKER
ref: https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color;
*/
.border-dashed-grey {
    border: dashed 3px grey;
}
.input-color-container {
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 72px;
  height: 72px;
  border: none;
}
/*END COLOR PICKER*/