* {
    box-sizing: inherit
}

body,
html {
    overflow-x: hidden;
    overscroll-behavior-y: none
}

html {
    -ms-text-size-adjust: 100%;
    height: 100%
}

body {
    position: relative;
    background: #4a148c !important;
    background: var(--themeBackground) !important;
    color: #232528 !important;
    color: var(--mainDark) !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    overflow-x: hidden;
    overscroll-behavior-y: none
}

figure {
    margin: 1em 40px
}

hr {
    font-size: 20px;
    width: 250px
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    -webkit-text-decoration-skip: objects
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

button {
    border: 2 outset #fff !important
}

:root {
    --mainPink: #e84393;
    --mainDark: #232528;
    --mainRed: #ed213a;
    --mainBrown: #795548;
    --mainOrange: #ffb300;
    --expenseRed: #ff4757;
    --lightGrey: #cad3c8;
    --mainGreen: #4cd137;
    --incomeGreen: #2ecc71;
    --mainBlue: #2a2a72;
    --darkBlue: #2c3e50;
    --lightBlue: #009ffd;
    --mainDegrade: linear-gradient(90deg, #ed213a, #93291e);
    --mainYellow: #ffee58;
    --niceUiYellow: #fbc531;
    --lightYellow: #ff0;
    --mainPurple: #4a148c;
    --lightPurple: #7c43bd;
    --mainCyan: #00b2cc;
    --mainCyanLight: #00e5ff
}

.text-red {
    color: #ed213a;
    color: var(--mainRed)
}

.text-yellow {
    color: #ffee58;
    color: var(--mainYellow)
}

.text-blue {
    color: #2a2a72;
    color: var(--mainBlue)
}

.text-purple {
    color: #4a148c;
    color: var(--mainPurple)
}

.text-sys-green {
    color: green
}

.text-grey {
    color: grey
}

.text-cyan-light {
    color: #00e5ff;
    color: var(--mainCyanLight)
}

.theme-p-dark {
    background-color: #12005e;
    background-color: var(--themePDark)
}

.text-p {
    color: #4a148c;
    color: var(--themeP)
}

.text-s {
    color: #00e5ff;
    color: var(--themeS)
}

.text-white {
    color: #ecf0f1;
    color: var(--mainWhite)
}

.text-black {
    color: #000;
    color: var(--mainBlack)
}

:root {
    --themeP: #4a148c;
    --themePLight: #7c43bd;
    --themePDark: #12005e;
    --themeSurface: #f7f1e3;
    --themeBackground: #4a148c;
    --mainBlack: #000;
    --mainWhite: #ecf0f1;
    --mainFont: "Poppins", sans-serif;
    --themeP--default: #4a148c;
    --themePLight--default: #7c43bd;
    --themePDark--default: #12005e;
    --themeBackground--default: #4a148c;
    --themeP--pink: #e84393;
    --themePLight--pink: #ff79c3;
    --themePDark--pink: #7c003b;
    --themeBackground--pink: #b10065;
    --themeP--red: #ff4757;
    --themePLight--red: #ff7d84;
    --themePDark--red: #c5002e;
    --themeBackground--red: #ff4757;
    --themeP--purple: #4a148c;
    --themePLight--purple: #7c43bd;
    --themePDark--purple: #12005e;
    --themeBackground--purple: #4a148c;
    --themeP--orange: #ffb300;
    --themePLight--orange: #ffb300;
    --themePDark--orange: #905700;
    --themeBackground--orange: #c68400;
    --themeP--black: #232528;
    --themePLight--black: #4b4d50;
    --themePDark--black: #000;
    --themeBackground--black: #232528;
    --themeP--white: #ecf0f1;
    --themePLight--white: #ecf0f1;
    --themePDark--white: grey;
    --themeBackground--white: #babebe;
    --themeP--blue: #009ffd;
    --themePLight--blue: #68d0ff;
    --themePDark--blue: #004798;
    --themeBackground--blue: #0071c9;
    --themeP--green: #2ecc71;
    --themePLight--green: #2ecc71;
    --themePDark--green: #006a18;
    --themeBackground--green: #009a44;
    --themeP--brown: #795548;
    --themePLight--brown: #a98274;
    --themePDark--brown: #250200;
    --themeBackground--brown: #4b2c20;
    --themeP--yellow: #ffee58;
    --themePLight--yellow: #ffee58;
    --themePDark--yellow: #948c00;
    --themeBackground--yellow: #c9bc1f;
    --themeS: #00e5ff;
    --themeSLight: #6effff;
    --themeSDark: #00b2cc;
    --themeS--default: #00e5ff;
    --themeSLight--default: #6effff;
    --themeSDark--default: #00b2cc;
    --themeS--pink: #e84393;
    --themeSLight--pink: #ff79c3;
    --themeSDark--pink: #b10065;
    --themeS--red: #ff4757;
    --themeSLight--red: #ff7d84;
    --themeSDark--red: #c5002e;
    --themeS--purple: #4a148c;
    --themeSLight--purple: #7c43bd;
    --themeSDark--purple: #12005e;
    --themeS--orange: #ffb300;
    --themeSLight--orange: #ffe54c;
    --themeSDark--orange: #c68400;
    --themeS--black: #232528;
    --themeSLight--black: #4b4d50;
    --themeSDark--black: #000;
    --themeS--white: #ecf0f1;
    --themeSLight--white: #fff;
    --themeSDark--white: #babebe;
    --themeS--blue: #009ffd;
    --themeSLight--blue: #68d0ff;
    --themeSDark--blue: #0071c9;
    --themeS--green: #2ecc71;
    --themeSLight--green: #6effa0;
    --themeSDark--green: #009a44;
    --themeS--brown: #795548;
    --themeSLight--brown: #a98274;
    --themeSDark--brown: #4b2c20;
    --themeS--yellow: #ffee58;
    --themeSLight--yellow: #ffff8b;
    --themeSDark--yellow: #c9bc1f
}

.text-align {
    text-align: left;
    margin: 20px
}

@media screen and (min-width:780px) {
    .text-align {
        text-align: justify;
        word-spacing: -2px;
        margin: 50px
    }
}

.text-border-black {
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000
}

.text-shadow {
    text-shadow: 1px 1px 3px #000
}

.no-text-shadow {
    text-shadow: none
}

.text-shadow-white {
    text-shadow: 1px 1px 3px #fff
}

.no-text-decoration,
.text-decoration-none {
    text-decoration: none
}

.text-em-0-7 {
    font-size: .7em
}

.text-em-1 {
    font-size: 1em
}

.text-em-1-3 {
    font-size: 1.3em
}

.text-em-1-4 {
    font-size: 1.4em
}

.text-em-1-5 {
    font-size: 1.5em
}

.text-em-1-9 {
    font-size: 1.9em
}

.text-em-2 {
    font-size: 2em
}

.text-em-2-5 {
    font-size: 2.5em
}

.main-font {
    font-family: "Poppins", sans-serif
}

.text-hero {
    font: normal 60px "Poppins", sans-serif;
    letter-spacing: .01em;
    line-height: 1.2em
}

.text-title {
    font: bolder 30px "Poppins", sans-serif;
    letter-spacing: .01em
}

.text-subtitle {
    font: normal 25px "Poppins", sans-serif;
    letter-spacing: .01em
}

.text-normal {
    font: normal 20px "Poppins", sans-serif;
    letter-spacing: .01em
}

.text-small {
    font: normal 14px "Poppins", sans-serif;
    letter-spacing: .01em
}

@media screen and (min-width:320px) {
    .text-hero {
        font: normal calc(60px + 30*(100vw - 300px)/700), "Poppins", sans-serif;
        letter-spacing: .01em;
        line-height: 1.2em
    }
    .text-title {
        font: bolder calc(30px + 15*(100vw - 300px)/700), "Poppins", sans-serif;
        letter-spacing: .01em
    }
    .text-subtitle {
        font: normal calc(25px + 5*(100vw - 300px)/700), "Poppins", sans-serif;
        letter-spacing: .01em
    }
    .text-normal {
        font: normal calc(20px + 6*(100vw - 300px)/700), "Poppins", sans-serif;
        letter-spacing: .01em
    }
    .text-small {
        font: normal calc(14px + 2*(100vw - 300px)/700), "Poppins", sans-serif;
        letter-spacing: .01em
    }
}

@media screen and (min-width:1000px) {
    .text-hero {
        font: normal 90px "Poppins", sans-serif;
        letter-spacing: .01em;
        line-height: 1.2em
    }
    .text-title {
        font: bolder 45px "Poppins", sans-serif;
        letter-spacing: .01em
    }
    .text-subtitle {
        font: normal 30px "Poppins", sans-serif;
        letter-spacing: .01em
    }
    .text-normal {
        font: normal 26px "Poppins", sans-serif;
        letter-spacing: .01em
    }
    .text-small {
        font: normal 16px "Poppins", sans-serif;
        letter-spacing: .01em
    }
}

.container-center {
    flex-flow: row wrap
}

.container-center,
.container-center-col {
    display: flex;
    justify-content: center;
    align-items: center
}

.container-center-col {
    flex-flow: column wrap
}

.item-align-center {
    display: flex;
    align-items: center
}

.margin-auto-95 {
    margin: auto;
    width: 95%
}

.margin-auto-90 {
    margin: 0 20px;
    width: 90%
}

.margin-auto-80 {
    margin: auto;
    width: 80%
}

.center-to-img {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

@media screen and (min-width:600px) {
    .margin-auto-90 {
        margin: auto;
        width: 90%
    }
}

.image-center {
    max-width: 80%;
    height: auto
}

.image-apresentation {
    width: 100%;
    height: auto
}

.full-height {
    height: 20em;
    height: 100vh
}

@media screen and (min-width:768px) {
    .image-center {
        max-width: 60%
    }
    .image-apresentation {
        width: "200px";
        height: "100px"
    }
}

.c-pointer,
.cursor-pointer {
    cursor: pointer
}

.no-outline:focus,
.no-outline:hover {
    outline: none
}

.disabled-link,
.disabledLink {
    pointer-events: none
}

.enabledLink {
    pointer-events: auto
}

.user-select-text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.float-it-5 {
    -webkit-animation: floatit 1s linear 0s 5;
    animation: floatit 1s linear 0s 5;
    -webkit-filter: drop-shadow(.001em .1em .1em #232528);
    filter: drop-shadow(.001em .1em .1em #232528);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainDark));
    filter: drop-shadow(.001em .1em .1em var(--mainDark))
}

@keyframes floatit {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(.55em);
        transform: translateY(.55em)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.shake-it:hover {
    -webkit-animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
    animation: shake .82s cubic-bezier(.36, .07, .19, .97) both;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer
}

@keyframes shake {
    10%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0)
    }
}

.pulse-it {
    -webkit-animation: pulseit 1s linear 0s infinite;
    animation: pulseit 1s linear 0s infinite;
    -webkit-filter: drop-shadow(.001em .1em .1em #232528);
    filter: drop-shadow(.001em .1em .1em #232528);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainDark));
    filter: drop-shadow(.001em .1em .1em var(--mainDark))
}

@keyframes pulseit {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(1.21);
        transform: scale(1.21)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    70% {
        -webkit-transform: scale(1.18);
        transform: scale(1.18)
    }
    80% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.pressed-to-left:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer
}

.zoom-it:active,
.zoom-it:hover {
    z-index: 3000;
    outline: none;
    border: none;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 9px
}

.blur-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px)
}

.disable-blur {
    -webkit-filter: none;
    filter: none;
    z-index: 3000
}

.shadow-elevation-white {
    -webkit-filter: drop-shadow(.001em .1em .1em #ecf0f1);
    filter: drop-shadow(.001em .1em .1em #ecf0f1);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainWhite));
    filter: drop-shadow(.001em .1em .1em var(--mainWhite))
}

.shadow-elevation-black {
    -webkit-filter: drop-shadow(.001em .001em .15em #232528);
    filter: drop-shadow(.001em .001em .15em #232528);
    -webkit-filter: drop-shadow(.001em .001em .15em var(--mainDark));
    filter: drop-shadow(.001em .001em .15em var(--mainDark))
}

.shadow-elevation {
    box-shadow: 0 31px 120px -6px rgba(0, 0, 0, .35)
}

.icon-shadow {
    -webkit-filter: drop-shadow(.5px .5px 1.5px #000);
    filter: drop-shadow(.5px .5px 1.5px black)
}

.card-elevation,
.shape-elevation,
.svg-elevation {
    -webkit-filter: drop-shadow(.001em .1em .1em #232528);
    filter: drop-shadow(.001em .1em .1em #232528);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainDark));
    filter: drop-shadow(.001em .1em .1em var(--mainDark))
}

.shadow-elevation-soft {
    box-shadow: 0 14px 34px rgba(0, 0, 0, .2), 0 10px 8px rgba(0, 0, 0, .12)
}

.main-letters-shadow,
.tranparent-img-shadow {
    font-size: 1.9rem;
    -webkit-filter: drop-shadow(.001em .1em .1em #232528);
    filter: drop-shadow(.001em .1em .1em #232528);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainDark));
    filter: drop-shadow(.001em .1em .1em var(--mainDark))
}

.main-letters-shadow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(.001em .1em .1em #ffee58);
    filter: drop-shadow(.001em .1em .1em #ffee58);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainYellow));
    filter: drop-shadow(.001em .1em .1em var(--mainYellow))
}

.icon-mu,
.icon-svg {
    -webkit-transform: scale(2);
    transform: scale(2)
}

.icon-default {
    color: #ecf0f1;
    color: var(--mainWhite);
    cursor: pointer;
    font-size: 2.1rem;
    -webkit-filter: drop-shadow(.001em .1em .1em #232528);
    filter: drop-shadow(.001em .1em .1em #232528);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainDark));
    filter: drop-shadow(.001em .1em .1em var(--mainDark))
}

.icon-default:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: drop-shadow(.001em .1em .1em #ffee58);
    filter: drop-shadow(.001em .1em .1em #ffee58);
    -webkit-filter: drop-shadow(.001em .1em .1em var(--mainYellow));
    filter: drop-shadow(.001em .1em .1em var(--mainYellow))
}

.btn {
    text-decoration: none
}

.btn:hover {
    opacity: .8
}

.btn-icon {
    width: 15px;
    display: inline-block
}

.btn-icon,
.btn-txt {
    vertical-align: middle
}

.btn-txt {
    color: #ecf0f1;
    color: var(--mainWhite);
    padding-left: 10px
}

.login-btn {
    width: 95%;
    margin: auto;
    border-radius: 3px
}

.anima-iteration-2 {
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2
}