/*BEST COLORS GALLERY - HISTORIC*/
:root {
    --mainPink: #e84393;
    --mainDark: #232528;
    --mainRed: #ed213a; /*#ed213a */
    --expenseRed: #ff4757;
    --lightGrey: #CAD3C8;
    --mainGreen: #4cd137;
    --incomeGreen: #2ecc71;
    --mainBlue: #2a2a72;
    --darkBlue: #2c3e50;
    --lightBlue: #009ffd;
    --mainDegrade: linear-gradient(to right, #ed213a, #93291e);
    --mainYellow: #fff200;
    --niceUiYellow: #fbc531;
    --mainPurple: #4a148c;
    --lightPurple: #7c43bd;
    --mainCyan: #00b2cc;
    --mainCyanLight: #00e5ff;
}

.text-red {
    color: var(--mainRed);
}

.text-expense-red {
    color: var(--expenseRed);
}

.text-yellow {
    color: var(--mainYellow);
}

.text-pink {
    color: var(--mainPink);
}

.text-blue {
    color: var(--mainBlue);
}

.text-purple {
    color: var(--mainPurple);
}

.text-light-purple {
    color: var(--lightPurple);
}

.text-sys-green {
    color: green;
}

.text-green {
    color: var(--mainGreen);
}

.text-income-green {
    color: var(--incomeGreen);
}

.text-grey {
    color: grey;
}

.text-cyan {
    color: var(--mainCyan);
}

.text-cyan-light {
    color: var(--mainCyanLight);
}