// reference: https://codepen.io/inupurnomo/pen/MWWRmQr

.bubble-tabs--root {
    height: auto;
    position: relative;
    max-width: 505px;
    margin: auto;
    width: 100%;

    & .nav-pills {
        display: flex;

        & .nav-link {
            cursor: pointer;
            display: flex;
            align-items: start;
            justify-content: center;
            font-weight: bold;
            text-align: center;
            background: var(--lightGrey);
            color: grey;
            border-radius: 30px 30px 0px 0px;
            height: 100px;
            font-size: 20px;
            line-height: 25px;
        }

        & .nav-link.active {
            background: var(--themePLight--default);
            color: #fff;
            font-size: 22px;
            text-shadow: 1px 1px 3px black;
        }

    }

    & .nav-item {
      width: 50%;
    }

    & .tab-content {
        position: relative;
        display: none;
        height: auto;
        width: 100%;
        margin: auto;
        margin-top: -35px;
        background: var(--themePLight--default);
        color: #000;
        border-radius: 30px;
        z-index: 1000;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        // animation: fadeEffect 1s; /* Fading effect takes 1 second */
        & .tab-pane {
            background: var(--mainWhite);
            border-radius: 30px;
            box-shadow: inset 0 0 0.4em grey;
            padding: 20px 10px 10px 10px;
            min-height: 350px;
        }
    }

    & .tab-content.active {
        display: block;
    }
}

@media only screen and (min-width: 600px) {
    .bubble-tabs--root {
        width: 95%;
    }
}

// @keyframes fadeEffect {
//   from {opacity: 0;}
//   to {opacity: 1;}
// }