.main-self-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: flex-start;
}

.picker-area {
    // position: relative;
    align-self: center;
}

.picker-area .title {
    background-color: var(--niceUiYellow);
    color: var(--mainWhite);
    text-shadow: 1px 1px 3px black;
    font: bold 25px var(--mainFont);
    padding: 5px 10px;
    border-radius: 20px;
}

.picker-area .step-indicator-btn {
    display: flex;
    justify-content: space-around;
}

.step-indicator-btn > p {
    margin: 0;
    justify-content: center;
    align-self: center;
}

.live-app-area {
    position: relative;
    margin-top: 160px;
    margin-bottom: 120px;
}

.title-for-phone {
    background-color: var(--niceUiYellow);
    color: var(--mainWhite);
    text-shadow: 1px 1px 3px black;
    font: bold 20px var(--mainFont);
    padding: 5px 10px;
    border-radius: 20px;
    top: -85px;
    left: 80px;

    position: absolute;
}

.scroll-instru-desktop {
    display: none;
    background-color: transparent;
    color: var(--mainWhite);
    font: bold 20px var(--mainFont);
    text-align: center;
    line-height: 18px;
    top: -55px;
    right: -27px;

    position: absolute;
    z-index: 20;
}

@media only screen and (min-width: 768px) {
    .scroll-instru-desktop {
        display: block;
    }
}

.app-preview-blob {
    position: absolute;
    top: -150px;
    z-index: -2;
    height: 900px;
    width: 900px;
}

.app-preview-blob img {
    height: 100%;
    width: 100%;

    z-index: -1;
}
// LESSON: for iframes and images, you need to insert width and height directly in the tag element..
.app-preview-iframe {
    position: absolute;
    left: 6.5px;
    top: 26px;
    z-index: 10;
}
.app-preview-iframe iframe {
    overflow-y: scroll;
    border: none;
}

.app-loading-screen {
    position: absolute;
    left: 10px;
    top: 28px;
    min-width: 313px;
    z-index: 5;
}

.app-phone {
    position: relative;
}

.app-preview-phone-frame {
    top: 0;
    z-index: -2;
}
// .app-preview-phone-frame img {
//     height: 100%;
//     width: 100%;
// }

@media only screen and (min-width: 768px) {
    .main-self-service {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 700px;
    }
    .live-app-area {
        margin-top: 0;
    }
    .picker-area {
        align-self: flex-start;
    }
}
