// ROOT LAYOUT CSS ONLY  like absolute elements, z-index, spacing margin adjusts

// ActionBtns.js
.blob-action-btns--root > div {
    margin: 40px 0;
}

.blob-action-btns--root .history-btn {
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .blob-action-btns--root .history-btn {
        margin-bottom: 0;
        margin-right: 60px;
    }
}

.panel-hidden-content--root {
    user-select: text;
    margin: auto;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .panel-hidden-content--root {
        width: 90%;
    }
}

.blob-action-btns--root > .star {
    margin: 0;
    padding: 0;
}

.blob-action-btn--root .star {
    z-index: -1;
    top: -20px;
    left: -50px;
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainDark));
    transform: rotate(30deg);
    filter: opacity(0.6);
}
@media only screen and (min-width: 768px) {
    .blob-action-btn--root .star {
        left: -65px;
    }
}

.blob-action-btn--root .star.star-align {
    left: -40px;
    top: -15px;
    font-size: 15px;
}
// end actionBtns.js