.zoom-it:hover, .zoom-it:active {
    z-index: 3000;

    -webkit-transition: transform .5s;
        -ms-transition: transform .5s;
            transition: transform .5s;

    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

/*REFERENCE FROM 300 HUNDREDS PROJECT*/
/*.zoomBeatAnimation, .zoomBeatAnimation {
    -webkit-animation-name: zoom;
            animation-name: zoom;
    -webkit-animation-duration: .6s;
            animation-duration: .6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}*/