// BOOTSTRAP
/* LESSON: use container fluid for layout that requires fixed 100% of width like footer and container for text in a blog for instance */
.container-fluid,
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-4,
.col-6,
.col-10,
.col-12,
.col-lg-4,
.col-md-4,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.d-table {
    display: table !important;
}

// LESSON: the order here matters, if d-block is before d-none, then some toggle will fail even placing d-block after the className list like in PAsswordCircleFields.js
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important
}

@media (min-width:576px) {
    .flex-sm-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }
    .flex-sm-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }

    .d-sm-none {
        display: none !important;
    }
}

@media (min-width:768px) {
    .flex-md-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }
    .flex-md-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }
    .d-md-none {
        display: none !important;
    }
}

@media (min-width:992px) {
    .flex-lg-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }
    .flex-lg-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }
    .d-lg-none {
        display: none !important;
    }
}

@media (min-width:1200px) {
    .flex-xl-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important
    }
    .flex-xl-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important
    }
    .d-xl-none {
        display: none !important;
    }
}

.align-self-end {
    align-self: flex-end !important;
}

.align-self-start {
    align-self: flex-start !important;
}
// END BOOTSTRAP

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.container-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.container-center-nowrap {
    // for btns in a row
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.center-to-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 989;
}

.container-center-max-width-500 {
    margin: auto;
    width: 100%;
    max-width: 500px;
}

.item-align-center {
    display: flex;
    align-items: center;
}

.margin-auto-95 {
    margin: auto;
    width: 95%;
}

.margin-auto-90 {
    margin: 0 20px;
    width: 90%;
}
.margin-auto-80 {
    margin: auto;
    width: 80%;
}
.margin-auto-70 {
    margin: auto;
    width: 07%;
}
.margin-auto-60 {
    margin: auto;
    width: 60%;
}

@media screen and (min-width: 600px) {
    .margin-auto-90 {
        margin: auto;
        width: 90%;
    }
}
/*END CONTAINERS*/

/*IMAGES*/
.image-center {
    max-width: 80%;
    height: auto;
}

.image-apresentation {
    width: 100%;
    height: auto;
}

.image-responsive-80 {
    width: 80%;
    height: auto;
}
/*END IMAGES*/

.full-height {
    height: 20em; // fallback in case of ch is not supported
    height: 100vh;
}

.full-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 20em; // fallback in case of ch is not supported
    height: 100vh;
}

/*MOBILE FIRST RESPONSIVE MEDIA QUERIES*/
/*media portrait tablets and large phones || for large devices, use min-width: 992px and up*/
@media screen and (min-width: 768px) {
    /*n1*/
    .image-center {
        max-width: 60%;
    }

    .image-apresentation {
        width: "200px";
        height: "100px";
    }
}

/* COMMENTS
n1: Bootstrap Reference
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
