// MANIFEST FILE
@import "coreElements";
@import "color-palettes/core";
@import "typography/core";
@import "responsiveness/core";
@import "styling-utils/coreCssUtils";
@import "effects/core";
@import "customization/core";
// @import 'shapes/core';
.disable-animation {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}
// NOT WORKING....
// .anima-repeat-3: {
//     animation-iteration-count: 3;
// }

// .anima-repeat-4: {
//     animation-iteration-count: 4;
// }

// .anima-repeat-5: {
//     animation-iteration-count: 5;
// }

/*CART BUTTON*/
.btn-black {
    background: transparent;
    text-transform: capitalize;
    font-size: 1.1rem !important;
    color: var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
    cursor: pointer;
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}

/*BACKDROPS AND BLUR*/
.backdrop-strong {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 989;
}

.backdrop-medium {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 989;
}

.full-screen-mode {
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(0);
    // opacity: .5;
}

.blur-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    backdrop-filter: blur(4px);
}

.enable-blur > * {
    filter: blur(1.2px);
}

.disable-blur {
    filter: none;
    z-index: 3000;
}

/*MAIN SHADOW AND HOVER*/
.shadow-elevation-white {
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainWhite));
}

.shadow-babadoo {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.12);
}

.shadow-babadoo-filter {
    filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.2)) drop-shadow(0 15px 12px rgba(0, 0, 0, 0.12));
}

.shadow-elevation-black {
    /*recommended*/
    filter: drop-shadow(0.001em 0.001em 0.15em var(--mainDark));
}

.shadow-elevation {
    /*recommendaded only squared pictures, cards and static square shapes*/
    //z-index: -1;
    box-shadow: 0 31px 120px -6px rgba(0, 0, 0, 0.35);
}

.icon-shadow {
    filter: drop-shadow(0.5px 0.5px 1.5px black);
}

.shape-elevation,
.card-elevation,
.svg-elevation {
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainDark));
}

.shadow-elevation-soft {
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.2), 0 10px 8px rgba(0, 0, 0, 0.12);
}

.tranparent-img-shadow,
.main-letters-shadow {
    font-size: 1.9rem;
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainDark));
}

.main-letters-shadow:hover {
    transform: scale(1.1);
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainYellow));
}

/*END MAIN SHADOW AND HOVER*/

/*ICON DEFAULT*/
/*Material UI icon*/
.icon-svg,
.icon-mu {
    transform: scale(2);
}

.icon-default {
    color: var(--mainWhite);
    cursor: pointer;
    font-size: 2.1rem;
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainDark));
}

.icon-default:hover {
    transform: scale(1.1);
    filter: drop-shadow(0.001em 0.1em 0.1em var(--mainYellow));
}

/*END ICON DEFAULT*/

/*BUTTONS*/
.btn {
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

.btn-icon {
    width: 15px;
    vertical-align: middle;
    display: inline-block;
}

.btn-txt {
    color: var(--mainWhite);
    padding-left: 10px;
    vertical-align: middle;
}

.menu-btn {
    padding: 12px 15px;
    display: inline-block;
}

.menu-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.login-btn {
    width: 95%;
    margin: auto;
    /*padding: 5px 20px;*/
    border-radius: 3px;
}

// .menu-bar {
//     overflow: hidden;
//     background-color: var(--primary-red);
//     box-shadow: -5px -7px 15px 1px rgba(0, 0, 0, 0.8);
//     padding-left: 20%;
//     padding-right: 20%;
// }

.app-icon-container {
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 50%;
}

/*END MENU DROPDOWN*/

.anima-iteration-2 {
    animation-iteration-count: 2;
}

// disable iframe overlay preventing clicking on the screen -- https://stackoverflow.com/questions/70499543/create-react-app-creates-this-iframe-that-prevents-me-from-clicking-or-editing
body > iframe {
  pointer-events: none;
}

* {
    box-sizing: border-box !important;
}