.back-btn-client-admin {
    position: fixed;
}

.back-btn-client-admin .container {
    display: flex;
    margin: 0;
    padding: 0;
    // justify-content: center;
}

.back-btn-client-admin .container .title {
    color: var(--mainDark);
    margin: 0;
    padding: 2px 4px;
    font: bolder 12px var(--mainFont);
    border-radius: 10px 10px;
    box-shadow: inset 0 0 0.3em #000;
    text-align: center;
    width: 60px;
    background-color: var(--mainWhite);
}

.title span {
    // padding: 10px;
}

.back-btn-client-admin .container .btn {
    position: relative;
    top: 0px;
    left: 15px;
    align-self: flex-start;
    width: 100%;
    padding: 0;
}
